:root {
    --color-negative: #222222;
    --color-negative-dark: #000000 ;
    --color-zero: #ffffff;

    --color-first: #ffbb33;
    --color-second: #efefef; 
    --color-third: #7b7b7b;

    --color-fourth: #7a7a7a;
    --color-fifth: #cccccc;
    --color-sixth: #ffaebc;
    
    --color-seventh: #a0e7e5;
    --color-eighth: #b4f8c8;
    --color-ninth: #fbe7c6;
     
    --color-success-first: #155724;
    --color-success-second: #d4edda;
    --color-success-third: #c3e6cb;

    --color-error-first: #721c24;
    --color-error-second: #f8d7da;
    --color-error-third: #f5c6cb;
}