.btn {
    background-color: var(--color-negative);
    color: var(--color-zero);
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
  }
  
  .btn:hover {
    color: var(--color-first);
  }