.contact_card {
    margin-top: 1.2em;
    display: flex;
    align-items: center;

}

.contact_card a,
.contact_card button {
    background-color: var(--color-zero);
    color: var(--color-negative);
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.6em 1em;
    margin-right: 1em;
    cursor: pointer;
    border: 1px solid var(--color-negative);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contact_card a:hover,
.contact_card button:hover {
    background-color: var(--color-negative);
    color: var(--color-first);
}

.contact_card svg {
    margin-right: 0.5em;
}